<style type="text/css">

h1
{
	text-align:center; 
	color: #00336F;
}
h2
{
	text-align:center; 
	color: #00336F;
}
h4 {
/*background: #AFEEEE;*/
color: #00336F;

}

body
{
	background: #FFFF99; 
	color: #000000; 
	padding: 0px; 
	margin-left: 0px; 
	margin-right: 0px; 
	margin-top: 0px; 
	margin-bottom: 0px;
}

</style>
